{{#if loggedIn}}
<section class="container">
  <h3 class="dashboard-title">{{user.username}}'s Posts</h3>
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
      {{> dashboard-post-details}}
    {{/each}}
  </section>
  <button id="newPostBtn">Create New Post</button>
  <form class="post" id="postForm" style="display: none;">
    <label for="postTitle">Title:</label><br>
    <input type="text" id="postTitle" placeholder="Title your post" required><br><br>
    <label for="postContent">Content:</label><br>
    <textarea id="postContent" placeholder="Write your post here" required></textarea><br><br>
    <button id="submitPostBtn">Submit Post</button>
  </form>
</section>
{{else}}
<section class="login-card">
  <p>You must log in to view this page. <a href="/login">Login</a> or <a href="/signup">Sign Up</a></p>
</section>
{{/if}}