{{#if loggedIn}}
<section class="container">
  <h3 class="user-dashboard">{{user.username}}</h3>
  <h4>User Posts:</h4>
  <section class="flex-row justify-center">
    {{#each posts}}
    {{> post-details}}
    {{/each}}
  </section>
  <button id="newPostButton">Create New Post</button>
</section>
{{else}}
<section class="container">
  <p>You must log in to view this page. <a href="/login">Login</a> or <a href="/signup">Sign Up</a></p>
</section>
{{/if}}
