{{#if loggedIn}}
<form id="blogForm">
    <label for="titleInput">Title:</label><br>
    <input type="text" id="titleInput" placeholder="My Day Today" required><br><br>

    <label for="contentInput">Content:</label><br>
    <textarea id="contentInput" placeholder="Today I..." required></textarea><br><br>

    <button type="submit" class="submit" id="submit">Submit</button>
</form>
{{else}}
<section class="login-card">
  <p class="login-card">You must log in to view this page. <a href="/login">Login</a> or <a href="/signup">Sign Up</a></p>
</section>
{{/if}}
