{{#if loggedIn}}
<form id="blogForm">
    <label for="titleInput">Title:</label><br>
    <input type="text" id="titleInput" placeholder="My Day Today" required><br><br>

    <label for="contentInput">Content:</label><br>
    <textarea id="contentInput" placeholder="Today I..." required></textarea><br><br>

    <button type="submit" class="submit" id="submit">Submit</button>
</form>
{{else}}
{{> login-details}}
{{/if}}
