<section class="single-post">
  <header>{{post.title}}</header>
  <h4>{{post.user.username}}</h4>
  <h5>{{format_date post.createdAt}}</h5>
  <p>{{post.content}}</p>
  <br>
  <h6>Comments:</h6>
  {{#each post.comments as |comment|}}
  <p>{{> comment-details}}</p>
  {{/each}}
  <button id="newCommentBtn" style="display: block;">Add a Comment</button>
  <form id="commentForm" style="display: none;">
    <label for="commentContent">Comment:</label><br>
    <textarea id="commentContent" placeholder="Write your comment here" required></textarea><br><br>
    <button id="submitCommentBtn">Submit Comment</button>
  </form>
</section>
