{{#if loggedIn}}
{{> dashboard-details}}
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const newPostButton = document.getElementById('newPostButton');
    if (newPostButton) {
      newPostButton.addEventListener('click', () => {
        window.location.href = '/post/new'; // Adjust the URL as needed
      });
    }
  });
</script>