{{#if loggedIn}}
{{> dashboard-details}}
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script>
document.addEventListener('DOMContentLoaded', () => {
    const newPostButton = document.getElementById('newPostBtn');
    if (newPostButton) {
        newPostButton.addEventListener('click', (event) => { // Pass the event parameter
            event.preventDefault(); // Prevent the default behavior of the button
            const postForm = document.getElementById('postForm');
            if (postForm) {
                postForm.style.display = 'block'; // Show post form
                newPostButton.style.display = 'none'; // Hide new post button
            }
        });
    }
});

</script>